body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background: #fff;
  font-weight: 400;
  margin: 0;
}

nav {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-indentation {
  padding: 96px 0;
}

/* ============================ HEADER ================================== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logotipe {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logotipe-studio {
  color: #2e2f42;
}

.mobile-menu-open-btn {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: #2f2f37;
  border: none;
  padding: 0;
}

.top-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============================= MOBILE MODAL WINDOW ====================== */
.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal-window-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.nav-acent-color {
  color: #404bbf;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-list-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.address-acent-color {
  color: #4d5ae5;
}

.mobile-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/*========================================= MAIN ================================= */
.section-name {
  display: block;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/mobile-dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .section-name {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile/mobile-dark-bg@2x.jpg');
  }
}

/*==================================== CONTENT ==================================*/
.content-list-icon {
  display: none;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-title-third {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-paragraph {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*================================= OUR TEAM ==========================*/
.our-team-section {
  background: #f4f4fd;
}

.our-team-title {
  display: flex;
  justify-content: center;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px 0;
}

.our-team-list-item {
  background-color: #ffffff;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker {
  padding: 32px 0;
}

.our-team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-section-paragraph {
  text-align: center;
  padding-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.our-team-icon {
  fill: #f4f4fd;
}

/*======================================== OUR PORTFOLIO ============================*/
.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px 0;
}

.our-portfolio-item {
  display: flex;
  max-width: 288px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}

.our-portfolio-item-content {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-subtitle {
  margin-bottom: 8px;
}

/*========================== FOOTER =============================*/
.page-footer {
  background: #2e2f42;
}

/* ====================== LOGOTIPE ========================= */

.logotipe-footer {
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-logotipe-studio {
  color: #f4f4fd;
}

.footer-paragraph {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: start;
}

/* ================= SOCIAL MEDIA ====================== */

.footer-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

/* ========================= SUBSCRIBE FORM ==================== */

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.form-label-text {
  text-align: center;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.form-input::placeholder {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.subscribe-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.form-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/*================================ FOOTER ===============================*/

/* ======================= MODAL WINDOW ============================== */
.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window-container .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window-icon-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.modal-window-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.container-modal-form {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-input-icon {
  position: relative;
}

.input-modal-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.container-comment-form {
  margin-bottom: 16px;
  line-height: 1.15;
}

.text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.check-conteiner-form {
  margin-bottom: 24px;
  line-height: 1.15;
}

.check-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

input:checked + .check-label-text > .check-board {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.check-board {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.check-link-text {
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

/* =============== MOBILE ================ */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .page-address {
    display: none;
  }

  .container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .top-sidebar {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .section-name {
    padding: 72px 16px;
    max-width: 320px;
  }

  .name {
    max-width: 288px;
    margin-bottom: 72px;
  }

  .content-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-conteiner {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }

  .logotipe-div {
    text-align: center;
  }

  .social-media {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

/* ====================== TABLET AND DECKTOP ================== */
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .name {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current::after {
    height: 4px;
    border-radius: 2px;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    display: block;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .modal-window-icon-conteiner {
    width: 408px;
    height: 584px;
  }
}

/* ======================================= TABLET ================================================ */
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

  /* ========================= NAV ============================  */
  .page-header {
    height: 72px;
  }

  .top-sidebar {
    display: flex;
  }

  .logotipe {
    margin-right: 120px;
  }

  .page-nav {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .nav-list {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .nav-link {
    display: block;
    color: #2e2f42;
    padding: 24px 0;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* =========================== ADDRESS ======================== */
  .page-address {
    display: flex;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  .address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  /* ==================== NAME ========================== */
  .section-name {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tablet-dark-bg.jpg);
    min-width: 768px;
    padding: 112px 0;
  }

  .name {
    margin-bottom: 36px;
    max-width: 496px;
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .section-name {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/tablet/tablet-dark-bg@2x.jpg');
    }
  }

  /* ============================ CONTENT ================== */
  .content-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .content-list-item {
    flex-basis: calc((100% - 24px) / 2);
    font-size: 32px;
    align-items: flex-start;
  }

  /* ============================ OUR TEAM ================ */
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .our-team-list-item {
    width: 264px;
  }

  /* ===================== OUR PORTFOLIO ====================== */
  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .our-portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    font-size: 32px;
    display: flex;
  }

  .our-portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  /* ======================= FOOTER ========================== */
  .logotipe-footer {
    display: flex;
    justify-content: flex-start;
  }

  .footer-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    margin: 0 auto;
    padding-left: 108px;
  }

  .social-media {
    margin-left: 0;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .form-label-text {
    text-align: start;
  }
}

/* ======================================= MOBILE & TABLET ==================================== */
@media screen and (max-width: 1158px) {
  .overlay-text {
    display: none;
  }

  .form-input {
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

/* ============================================= DESCTOP ============================================ */
@media screen and (min-width: 1158px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .section-indentation {
    padding: 120px 0;
  }

  /* ========================== HEADER ====================== */

  /* =================== NAV ========================= */

  .page-nav {
    display: flex;
    align-items: center;
    margin-right: 332px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    color: #2e2f42;
    padding: 24px 0;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  /* ==================== ADDRESS ======================== */
  .page-address {
    display: flex;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .address-list-item {
    padding: 24px 0;
  }

  .address-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  /* ========================== HEADER ==================================== */
  /* ============================ MAIN ===================================== */

  /* ======================= NAME ======================== */
  .section-name {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/desktop-people-office.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  .name {
    margin-bottom: 48px;
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .section-name {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/desktop/desktop-people-office@2x.jpg');
    }
  }

  /* ======================= BUTTON ============================ */
  .button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }

  /* ====================== CONTENT =========================== */
  .content-list {
    flex-direction: row;
    gap: 24px;
  }

  .content-list-icon {
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .section-title-third {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .section-paragraph {
    width: 264px;
    font-weight: 400;
  }

  /* ========================= OUR TEAM =========================*/

  .our-team-list {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row;
  }

  .social-list-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #404bbf;
  }

  /* ====================== PORTFOLIO ========================= */

  .our-portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    row-gap: 48px;
  }

  .our-portfolio-item {
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .img-conteiner {
    position: relative;
    overflow: hidden;
  }

  /* ======================= OVERLAY ========================== */
  .overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }

  .our-portfolio-item:hover .overlay-text {
    transform: translateY(0);
  }

  /*========================== FOOTER =============================*/
  .page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-conteiner {
    display: flex;
    align-items: baseline;
  }

  /* ====================== LOGOTIPE ========================= */

  .logotipe-div {
    margin-right: 120px;
  }

  /* ================= SOCIAL MEDIA ====================== */

  .social-media {
    margin-right: 80px;
  }

  .footer-social-list-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: #31d0aa;
  }

  /* ========================= SUBSCRIBE FORM ==================== */

  .container-form-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .form-input {
    margin-right: 24px;
  }

  /*================================ FOOTER ===============================*/
  /* ======================= MODAL WINDOW ============================== */
  .modal-window-container {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-window-icon-conteiner {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-button:hover,
  .close-button:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-window-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-button:hover,
  .close-button:focus {
    fill: #ffffff;
  }

  .input-modal-form {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-modal-form:focus {
    border-color: #4d5ae5;
  }

  .input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-modal-form:focus + .input-icon {
    fill: #4d5ae5;
  }

  .text-comment {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-comment:focus {
    border-color: #4d5ae5;
  }

  .check-board {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
